body {
  height: 1vh;
  background: #fdfdfd;
}

.app {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.displayNone {
  display: none;
}

.allSections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showLoader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.regionSelectContainer {
  width: 100vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgrey;
  margin-bottom: 25px;
}

.regionSelect {
  width: 90%;
  max-width: 600px;
  margin: 10px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mantine-1m3pqry {
  width: 100%;
}

.forecastContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 0 20px;
  margin-bottom: 4%;
  background-color: lightblue;
  border-radius: 20px;
}

.monthdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activityBarContainer {
  width: 90%;
  height: 240px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  outline: 1px solid darkslategrey;
  background-color: #fdfdfd;
  border-radius: 10px;
  -webkit-box-shadow: 4px 6px 3px 0px rgba(186, 186, 186, 1);
  -moz-box-shadow: 4px 6px 3px 0px rgba(186, 186, 186, 1);
  box-shadow: 4px 6px 3px 0px rgba(186, 186, 186, 1);
}

.recommendationsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 4% 0;
  padding: 15px 0 20px;
  background-color: antiquewhite;
  border-radius: 20px;
}

.speciesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border-radius: 20px;
  padding: 15px 0 20px;
}

p {
  margin: 0px 0 20px 0;
  font-size: 19px;
}

@media screen and (min-width: 500px) {
  .activityBarContainer {
    max-width: 600px;
  }
}

@media screen and (min-width: 980px) {
  .activityBarContainer {
    max-width: 600px;
  }
}