body {
  height: 1vh;
  background: #fdfdfd;
}

.app {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.displayNone {
  display: none;
}

.allSections {
  width: 100%;
}

.showLoader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.regionSelect {
  width: 100%;
  margin: 10px 0 35px;
}

.monthdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activityBarContainer {
  margin: 0 0 4% 8%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.recommendationsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 8% 0;
}

.speciesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0px 0 20px 0;
  font-size: 19px;
}

@media screen and (min-width: 500px) {
  .activityBarContainer {
    max-width: 600px;
  }
}

@media screen and (min-width: 980px) {
  .activityBarContainer {
    max-width: 600px;
  }
}